<!DOCTYPE html>
<html>
	<head>
		<title>Vue APP</title>
		<link rel="stylesheet" type="text/css" href="http://davidtkatz.com/public_css/vue.css">
		<script type="text/javascript" src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<div id="app">
			<counter v-bind:add-num="5"></counter>
		</div>

		<script type="text/javascript">
			var counter = Vue.component('counter', {
				template: `
					<div class="marcacao1">
						<div class="contador">Count: {{this.count}}</div>
						<button class="vue-btn" @click="increment">Incremento por {{this.addNum}}</button>
					</div>
				`,
				props: {
					addNum: {
						type: Number,
						default: 1
					}
				},
				data() {
					return {
						count: 0
					}
				},
				methods: {
					increment() {
						this.count += this.addNum
					}
				}
			})

			var app = new Vue({
				el: '#app',
				components: {
					counter
				}
			})
		</script>
	</body>
</html>